@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carattere&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Nunito", sans-serif;
}
body {
  background: rgb(253, 253, 253);
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 0.1px solid #d9d7e0;
  -webkit-box-shadow: 0px 9px 15px -4px rgba(183, 188, 194, 1);
  -moz-box-shadow: 0px 9px 15px -4px rgba(183, 188, 194, 1);
  box-shadow: 0px 4px 4px -4px rgba(183, 188, 194, 1);
}
.navbar .logo-container a {
  text-decoration: none;
}
.navbar .logo-container .logo {
  color: #424c61;
  font-weight: bold;
}
.navbar .logo-container .mobile-menu-btn {
  display: none;
}
.navbar .link-container {
  margin-top: 5px;
}
.navbar .link-container .nav-link {
  margin-right: 10px;
  text-decoration: none;
  color: rgb(49, 58, 80);
  font-size: 1.2em;
}
.navbar .link-container .nav-link:hover {
  transform: scale(1.01);
  opacity: 0.8;
}
.navbar .link-container .active {
  color: rgb(101, 86, 255) !important;
}
.navbar .utility-btn-container .github-img {
  width: 90px;
  border-radius: 8px;
  padding: 1px 1px;
  background: #fff;
  margin-right: 20px;
  transform: scale(1);
  box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 35%);
}
.navbar .link-container-mob {
  display: none;
}
.footer {
  padding: 10px;
  border-top: 0.1px solid #d9d7e0;
  display: flex;
  justify-content: space-around;
}
.footer-logo-container p {
  text-align: center;
}
.footer-logo-container .footer-logo {
  font-size: 1.8em;
  font-weight: bold;
}
.footer-logo-container a {
  color: rgb(101, 86, 255);
  text-decoration: none;
  font-weight: bold;
}
.footer-link-container p {
  font-weight: bold;
  font-size: 1.4em;
}
.footer-link-container a {
  display: block;
  text-decoration: none;
  color: grey;
}
.footer-link-container a:hover {
  opacity: 0.7;
}
.footer-logo-container .sm-img {
  width: 25px;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-box-shadow: 0px 0px 5px -4px rgba(148, 136, 148, 1);
  -moz-box-shadow: 0px 0px 5px -4px rgba(148, 136, 148, 1);
  box-shadow: 0px 0px 5px -4px rgba(148, 136, 148, 1);
  padding: 3px;
}
.footer-logo-container .sm-img:hover {
  transform: scale(1.09);
}
.flex-jc-sa {
  display: flex;
  justify-content: space-around;
}
.introduction {
  background: rgb(246, 250, 255);
  max-width: 90vw;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 10px;
  padding: 20px;
}
.introduction .text-part {
  border: 0px solid red;
  padding: 50px 10px;
}
.introduction .text-part h1 {
  font-size: 2.5em;
  color: rgb(26, 36, 61);
}
.introduction .text-part h4 {
  color: rgb(153, 160, 174);
  font-size: 1.4em;
}
.introduction .img-holder img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 30%;
}
.success {
  color: rgb(112, 212, 108);
}
.primary {
  color: rgb(101, 86, 255);
}
.danger {
  color: rgb(241, 80, 96);
}
.primary-btn {
  background: rgb(101, 86, 255);
  color: #fff;
  padding: 5px 50px;
  font-size: 1.3em;
  border: 0px;
  border-radius: 5px;
  text-decoration: none;
}
.primary-btn:hover {
  background: #fff;
  color: rgb(101, 86, 255);
  border: 2px solid rgb(101, 86, 255);
  cursor: pointer;
}
.searchBox {
  margin-top: 20px;
}
.features {
  margin-top: 60px;
}
.features h3 {
  font-size: 1.9em;
  margin: 0 auto;
  text-align: center;
  border-bottom: 4px solid rgb(101, 86, 255);
  max-width: 400px;
}
.some-aircrafts {
  background: rgb(246, 250, 255);
  max-width: 90vw;
  margin: 0 auto;
  padding: 20px;
}
.some-aircrafts h3 {
  font-size: 1.9em;
  margin: 0 auto;
  text-align: center;
  border-bottom: 4px solid rgb(101, 86, 255);
  max-width: 400px;
}
.features .card {
  border-radius: 10px;
  text-align: center;
  padding: 20px !important;
}
.features .card img {
  border-radius: 10px;
  width: 100%;
  max-width: 80px;
  height: auto;
  text-align: center;
  border-radius: 50%;
  display: block;
  margin: 0 auto !important;
}
.features .card-title {
  display: block;
  margin-top: -200px !important;
}
.features .card .card-title .title {
  color: rgb(26, 36, 61);
  margin-top: 0px;
  font-size: 0.8em !important;
}
.features .card .card-title .title-para {
  font-size: 0.6em !important;
  margin-top: -40px;
  color: rgb(153, 160, 174);
}
@media only screen and (max-width: 600px) {
  .navbar {
    display: block;
    text-align: center;
  }
  .navbar .logo-container {
    display: flex;
    justify-content: space-between;
  }
  .navbar .logo-container h2 {
    margin-top: 7px;
    margin-left: 10px;
    font-weight: bold;
    color: rgb(26, 36, 61);
  }
  .navbar .logo-container .mobile-menu-btn {
    display: block;
  }
  .navbar .link-container {
    display: none;
  }
  .navbar .link-container-mob {
    background: rgb(244, 245, 248);
    padding: 5px;
    border-radius: 10px;
    border: 0px;
    max-width: 90vw;
    margin: 0 auto;
    display: block;
  }
  .navbar .link-container-mob a {
    text-align: center;
    display: block;
    text-decoration: none;
    color: rgb(49, 58, 80);
    font-size: 1.2em;
    margin-top: 5px;
  }
  .navbar .link-container-mob a:hover {
    transform: scale(1.01);
    opacity: 0.8;
  }
  .navbar .link-container-mob .active {
    color: rgb(101, 86, 255) !important;
  }
  .navbar .utility-btn-container {
    display: none;
  }
}

.explore_title {
  display: grid;
  place-items: center;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 15px;
}

.explore_title_text {
  font-family: "Carattere", sans-serif;
  padding-bottom: 0.5rem;
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.025em;
}

.explore_title_line {
  display: inline-flex;
  height: 0.3rem;
  width: 20rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgba(99, 102, 241, var(--tw-bg-opacity));
}

.cards-list {
  z-index: 0;
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.card {
  padding: 10px;
  margin: 30px 10px;
  width: 400px;
  height: 280px;
  border-radius: 10px;
  box-shadow: 0.6px 0.4px 2.2px rgba(0, 0, 0, 0.02),
    1.3px 1px 5.3px rgba(0, 0, 0, 0.028), 2.5px 1.9px 10px rgba(0, 0, 0, 0.035),
    4.5px 3.4px 17.9px rgba(0, 0, 0, 0.042),
    8.4px 6.3px 33.4px rgba(0, 0, 0, 0.05), 20px 15px 80px rgba(0, 0, 0, 0.07);
  transition: 0.4s;
}

.card .card-image {
  width: inherit;
  height: inherit;
  border-radius: 10px;
}

.card .card-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  /* border-top-right-radius: 10px; */
  object-fit: cover;
  margin-left: -1px;
  margin-top: -1px;
}

.card .card-title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-size: 30px;
  font-family: "Source Serif Pro", serif;
  font-weight: 600;
  margin-top: -45px;
}

.card:hover {
  box-shadow: 0.4px 0.4px 1.1px rgba(0, 0, 0, 0.038),
    0.9px 0.9px 2.5px rgba(0, 0, 0, 0.056),
    1.6px 1.6px 4.3px rgba(0, 0, 0, 0.069),
    2.5px 2.5px 6.9px rgba(0, 0, 0, 0.08),
    3.9px 3.9px 10.6px rgba(0, 0, 0, 0.091), 6px 6px 16.6px rgba(0, 0, 0, 0.104),
    10px 10px 27.5px rgba(0, 0, 0, 0.122), 20px 20px 55px rgba(0, 0, 0, 0.16);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
  font-weight: bolder;
}
.contact-box {
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  margin-right: 10px;
}
.contact .img-holder h3 {
  font-size: 1.8em;
  color: rgb(49, 58, 80);
}
.contact-box .form-control {
  width: 40vw;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #f7f8fa;
  background: #f7f8fa;
}
.contact-box .form-control:focus {
  border: 2px solid rgb(101, 86, 255);
  outline: 0px;
}

@media all and (max-width: 500px) {
  .flex-jc-sa {
    flex-direction: column;
  }
  .card-list {
    padding-top: -200px;
    flex-direction: column;
  }
}

.model {
  padding-top: 40px;
}

.model_goback {
  margin-left: 24px;
}

.model_info {
  display: grid;
  place-items: center;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.model_info_title {
  padding-bottom: 0.5rem;
  font-size: 3.75rem;
  font-weight: 600;
  letter-spacing: 0.025em;
  font-family: "Carattere", sans-serif;
}

.model_info_desc {
  font-family: "Source Serif Pro", serif;
  text-align: justify;
  font-size: 1.25rem;
  line-height: 1.75rem;
  width: 70rem;
  margin-top: 1rem;
  margin-left: 6rem;
  margin-right: 6rem;
}

.model3D {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding-right: 4rem;
}

.model3D_3D {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  outline: none;
  cursor: pointer;
  grid-column: span 2 / span 2;
  display: block;
}

.model3d_3d_desc {
  margin-top: 1rem;
  grid-column: span 1 / span 1;
  padding: 1rem;
}

.model_part_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Serif Pro", serif;
}

.model_part_desc {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.view_info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Serif Pro", serif;
}

.view_info_click {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.05em;
}

.view_info_desc {
  align-self: center;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.05em;
  text-align: justify;
  font-family: "Source Serif Pro", serif;
}
.view_info_main {
  display: grid;
  justify-content: center;
  gap: 0.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-bottom: 2rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.view_info_qr {
  display: flex;
  padding: 1.5rem;
  font-size: 3.75rem;
  line-height: 1;
  border-radius: 0.75rem;
  height: 12rem;
  width: 12rem;
}

.view_info_button {
  margin-top: 105px;
  width: 10rem;
  height: 2.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "Source Serif Pro", serif;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
  letter-spacing: 1.2px;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 50px;
  background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
  background-size: 600%;
  -webkit-animation: anime 16s linear infinite;
  animation: anime 16s linear infinite;
}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
